nav{
    background-repeat: no-repeat;
    background-size: auto, cover;
    padding: 0;
    margin: 0;
}
    #principio{
        color: black;
    }
    #arriba{
        background: white;
        position: fixed;
        width: 100%;
        margin: 0; 
        height:5%; 
        padding-bottom: 35px;
        padding-top: 10px;
        height:5%; 
        z-index: 100;
    }
    #empieza{
      font-size: 20px;
    }
    #redes{
        text-align: right;
    }

/*HEADER*/

header{  
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
    padding-top: 100px;
}

    #entrada{
        color: white;
        text-align: left;
        padding-top:4vw;
        font-size: 6vh;
    }
    #libro{
        font-size: 100px;
        color: white;
    }
    #boton{
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-color: white;
        border-radius: 50px;    /*para dejarlo redondeado*/
    }
    #botonout{
        text-align: center;
        padding-top: 15px;
    }
    #movil{
        color: white;
        text-align: left;
        padding-top: 30px;
        font-size: 50px;
    }

/*MAIN*/
	#listadox{
		padding-top: 50px;
	    padding-bottom: 50px;
	}
	
	#lupa{
		font-size: 50px;
	}
	
    .form_wrap{
    width: 80%;
    height: 900px;
    margin: 0px auto;
    display: flex;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    
    
    border-radius: 100px;
    overflow: hidden;   
	}

	.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: RGB(255,145,160);
    opacity: 0.9;
	}
	
    .cantact_info{
    width: 25%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(/Proyecto2-AgendaTelefonica/src/main/webapp/WEB-INF/images/fondo.jpg);
    background-size: cover;
    background-position: center center;

}

	.info_title,
	.info_items{
	    position: relative;
	    z-index: 2;
	    color: #fff;
	}
	
	.info_title{
	    margin-bottom: 60px;
	}
	
	.info_title span{
	    font-size: 100px;
	    display: block;
	    text-align: center;
	    margin-bottom: 15px;
	}
	
	.info_title h2{
	    font-size: 35px;
	    text-align: center;
	}
	
	.info_items p{
	    display: flex;
	    align-items: center;
	
	    font-size: 16px;
	    font-weight: 600;
	    margin-bottom: 10px;
	}
	
	.info_items p:nth-child(1) span{
	    font-size: 30px;
	    margin-right: 10px;
	}
	
	.info_items p:nth-child(2) span{
	    font-size: 50px;
	    margin-right: 15px;
	    margin-left: 4px;
	}
    
    .form_contact{
    width: 75%;
    padding: 30px 40px;
}

	.form_contact h2{
		font-size: 25px;
		font-weight: 600;
		color: #303030;
		margin-bottom: 30px;
	}
	
	.form_contact .user_info{
	    display: flex;
	    flex-direction: column;
	}
	
	.form_contact label{
	    font-weight: 600;
	}
	
	.form_contact input,
	.form_contact textarea{
	    width: 100%;
	    padding: 8px 0px 5px;
	    margin-bottom: 20px;
	
	    border: none;
	    border-bottom: 2px solid #D1D1D1;
	
	    font-family: 'Open sans';
		color: #5A5A5A;
		font-size: 14px;
		font-weight: 400;
	}
	
	.form_contact textarea{
	    max-width: 100%;
	    min-width: 100%;
	    max-height: 90px;
	}
	
	.form_contact input[type="button"]{
	    width: 180px;
		background: #4091EC;
		padding: 10px;
		border: none;
		border-radius: 25px;
	
	    align-self: flex-end;
	
	    color: #fff;
		font-family: 'Open sans';
		font-size: 16px;
		font-weight: 600;
		cursor: pointer;
	}
	
	.form_contact input[type="button"]:hover{
	    background: #3371B6;
	}
    #alta{
        margin-top: 40px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-color: crimson;
        border-radius: 50px;    /*para dejarlo redondeado*/
    }
    #buscador{
    	padding-top: 50px;
    }
    #listado{
        color:wheat;
        background-position: center;
        height: 50em;
        
    }
    table{
    	background-color: white;
        margin: 1px;
        background-position: center;
        text-align: center;
        color: black;
        width: 80%;
        border-bottom: 1px;
        border-bottom-color: crimson;
        padding:200px;
    }
    .indice{
        background-color: crimson;
    }

    #nombre{
    	color: black;
        border-right: 5px;
    }
    #telefono{
    	color: black;
        width: 200px;
    }
    
    #cabecera{
    	color: black;
        font-weight: bold;
    }

/*ASIDE*/

aside{
    padding: 0;
    margin: 0;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 50px;
    color: black;
}
    #asides{
        text-align: left;
    }
    #heart{
        color: indianred;
    }
    #icons{
        font-size: 100px;
    }
    #twitter{
        color: deepskyblue;
    }
    #facebook{
        color: cornflowerblue;
    }
    #google{
        color: indianred;
    }

/*FOOTER*/

footer{
    background-color: dimgrey;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
}